
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.vssscc
*.scc
*.dbmdl
*.jfm
*.orig
*.min.css
*.less.js
node_modules/*
**/node_modules/*
tempfiles/
.idea/
doc/
build/
**/dist/*
.build/
.vs/
.happypack/

!packages/**
!tools/*.exe
!MHMD.Web/node_modules/grunt-img-path-replace
MHMD.Web/.build/
MHMD.Web/.editorconfig
MHMD.Web_bak/
PrecompiledWeb/
MHMD.Web.zip
MHMD.Web.7z
WebWorkbench.mswwsettings
MHMD.Web/webchat/react/
MHMD.Web/dist/webchat/react/
MHMD.Web/[Aa]pps/kc/release/
MHMD.Web/typings
MHMD.Web/dist/
MHMD.Web/images/webpack/
task_bak
.vs/
*.vsext
MD.API/Logs/log
MD.Cache.API/Properties/PublishProfiles/MDCache.pubxml
!MD.API/doc/
